<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Thông tin liên hệ</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Thông tin liên hệ
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-heading">
                    <h1 class="title">Thông tin liên hệ</h1>
                    <p>
                        Thông tin liên hệ
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="contact-info">
                    <i class="fas fa-map-marker-alt"></i>
                    <h2 class="title">Địa chỉ</h2>
                    <p>137 Nguyễn Thị Thập, Liên Chiểu <span>Đà Nẵng</span></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <i class="fas fa-phone-alt"></i>
                    <h2 class="title">Số điện thoại</h2>
                    <p>091-654-6820 <span>086-649-9519</span></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <i class="fas fa-envelope"></i>
                    <h2 class="title">Gửi thư</h2>
                    <p>lamhocgioi@gmail.com <span>lam03022001@gmail.com</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form class="contact-form">
                    <label class="contact-label"><input type="text" placeholder="Tên của bạn" /><i
                            class="fas fa-user"></i></label><label class="contact-label"><input type="text"
                            placeholder="Email" /><i class="fas fa-envelope"></i></label><label
                        class="contact-label"><input type="text" placeholder="Tiêu đề" /><i
                            class="fas fa-bookmark"></i></label><label class="contact-label">
                        <textarea placeholder="Tin nhắn"></textarea><i class="fas fa-pen-nib"></i></label><button
                        class="btn btn-inline">
                        <i class="fas fa-paper-plane"></i><span>Gửi mail</span>
                    </button>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="contact-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2608.499224545182!2d108.16872574052599!3d16.075803026598916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218e6e07b1c3f%3A0x459e4bf5a2af323e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYyDEkMOgIE7hurVuZw!5e0!3m2!1svi!2s!4v1632142127176!5m2!1svi!2s"
                        width="100%" height="100%" frameborder="0" style="border: 0" allowfullscreen="100%"
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>