<section class="feature-part">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="feature-card">
                    <i class="flaticon-delivery-truck"></i>
                    <h3>Giao hàng miễn phí</h3>
                    <p>
                        Chúng tôi tin rằng dịch vụ này hữu ích cho xã hội nói chung... Người bán hàng bán được nhiều hơn, khách hàng mua sắm thoải mái hơn, và người giao hàng có thêm nhiều công việc và thu nhập xứng đáng.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-6">
                <div class="feature-card">
                    <i class="flaticon-customer-service"></i>
                    <h3>Hỗ trợ nhanh chóng</h3>
                    <p>
                        We Believe in Service, and you Know that – Chúng tôi tin vào dịch vụ của mình, và bạn biết điều đó.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer-part">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="footer-content">
                    <a href="#"><img src="images/logo.png" alt="logo" /></a>
                    <p>
                        - Địa chỉ: Số 137 Nguyễn Thị Thập, Đà Nẵng<br> - Số điện thoại: 0916546820<br> - Email: lam03022001@gmail.com
                    </p>

                    <ul class="footer-icon">
                        <li>
                            <a class="icon icon-inline" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a class="icon icon-inline" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a class="icon icon-inline" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a class="icon icon-inline" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a class="icon icon-inline" href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-content">
                    <h3 class="title">Thông tin</h3>
                    <div class="footer-widget">
                        <ul>
                            <li><a href="#">Thông tin giao hàng</a></li>
                            <li><a href="#">Tìm kiếm nâng cao</a></li>
                            <li><a href="#">Trợ giúp & câu hỏi</a></li>
                            <li><a href="#">Đơn hàng & trả hàng</a></li>
                            <li><a href="#">Giao hàng</a></li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-content">
                    <h3 class="title">Thời gian mở cửa</h3>
                    <div class="footer-widget">
                        <ul>
                            <li><a href="#">T2 - T6: 8h - 10h</a></li>
                            <li><a href="#">T7: 9h - 8h</a></li>
                            <li><a href="#">CN: 14h - 18h</a></li>
                            <li><a href="#">T2 - T6: 8h - 10h</a></li>
                            <li><a href="#">Chúng tôi làm việc tất cả ngày lễ</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-bottom">
    <div class="container">
        <p>
            Copyright &copy; 2021 | All rights reserved by -
            <a target="_blank" href="#">Veggie</a>
        </p>
    </div>
</div>
