.form-control[readonly]{
    background-color: white !important;
    border: none;
}
.star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
  .full {
    color: orange;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
  }

.texta {
  padding: 11px;
  margin: 0px -20.6719px 0px 0px;
  height: 117px;
  width: 380px;
}